.not-found-image {
  height: 400px;
}
.not-found-dark-bg {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.notfound-title-dark {
  color: white;
  font-family: roboto;
}
.notfound-description-dark {
  color: #7e858e;
  font-family: roboto;
}
.not-found-light-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.notfound-title-light {
  color: #00306e;
  font-family: roboto;
}
.notfound-description-light {
  color: #00306e;
  font-family: roboto;
}
